:host {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font: inherit;
  --control-button-size: 4em;
  --volume-slider-thumb-color: currentColor;
  --volume-slider-track-color: currentColor;
  --volume-slider-width: 8em;
  --volume-slider-thumb-size: 1.5em;
  --label-font-family: inherit;
}
.audio-player-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 1em;
}
button {
  border: none;
  background: none;
  padding: 0;
  color: inherit;
  font: inherit;
}

.now-playing {
  margin: 1em;
  text-align: center;
}
.svg,
input[type="range"] {
  position: relative;
}
input[type="range"]::before,
input[type="range"]::after,
.svg::before,
.svg::after {
  content: "";
  position: absolute;
  opacity: 0;
  border-radius: 9999px;
  z-index: -1;
}
.svg::before,
.svg::after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type="range"]::before,
input[type="range"]::after {
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
}

input[type="range"]::before,
.svg::before {
  background: currentColor;
}
.svg::after,
input[type="range"]::after {
  border: 2px solid currentColor;
}
svg {
  height: var(--control-button-size);
  display: block;
}
button:focus {
  outline: none;
}
button:focus .svg::before,
button:focus .svg::after {
  opacity: 0.1;
}
input[type="range"]:focus::before,
input[type="range"]:focus::after {
  opacity: 0.1;
}

button span,
label {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  user-select: none;
  display: block;
}

span {
  font-size: 0.7em;
  font-family: var(--label-font-family);
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 1em;
}

.input-wrapper {
  flex: 0 0 var(--control-button-size);
  display: flex;
  align-items: center;
}
input {
  color: inherit;
  display: block;
}

input[type="range"] {
  /*removes default webkit styles*/
  -webkit-appearance: none;

  /*fix for FF unable to apply focus style bug */
  /* border: 1px solid var(--volume-slider-track-color); */

  /*required for proper track sizing in FF*/
  width: var(--volume-slider-width);
  height: var(--volume-slider-thumb-size);
  background: none;
  box-shadow: 0 0 0 1px var(--volume-slider-track-color) inset;
  border-radius: 9999px;
  font-size: inherit;
  /* box-sizing: border-box; */
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 0;
  background: transparent;
  border: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: var(--volume-slider-thumb-size);
  width: var(--volume-slider-thumb-size);
  border-radius: 50%;
  background: var(--volume-slider-thumb-color);
  margin-top: calc(var(--volume-slider-thumb-size) / -2);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--volume-slider-track-color);
}

input[type="range"]::-moz-range-track {
  display: none;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  height: var(--volume-slider-thumb-size);
  width: var(--volume-slider-thumb-size);
  border-radius: 50%;
  background: var(--volume-slider-thumb-color);
}

/*hide the outline behind the border*/
input[type="range"]:-moz-focusring {
  outline: 1px solid var(--volume-slider-track-color);
  outline-offset: -1px;
  border-radius: 9999px;
}

input[type="range"]::-ms-track {
  width: 300px;
  height: var(--volume-slider-track-width);

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--volume-slider-track-color);
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--volume-slider-track-color);
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  border: none;
  height: var(--volume-slider-thumb-size);
  width: var(--volume-slider-thumb-size);
  border-radius: 50%;
  background: var(--volume-slider-thumb-color);
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--volume-slider-track-color);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--volume-slider-track-color);
}
